<h2 style="color:crimson;">Lista de Productos</h2>
{{#if products}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr> 
                <th>Nombre</th> 
                <th style="text-align: center;">Precio</th> 
                <th style="text-align: center;">Imagen</th> 
            </tr>
            <!-- filas -->
            {{#each products}}
            <tr> 
                <td>{{this.title}}</td>
                <td style="text-align: center;">$ {{this.price}}</td>
                <td style="text-align: center;">
                    <img width="30" src="{{this.thumbnail}}" alt="">
                </td>
            </tr>
            {{/each}}
            <!-- Fin filas -->
        </table>
    </div>
{{else}}
    <h3 class="alert alert-warning">No se encontraron productos</h3>
{{/if}}
